header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #121212;
  color: white;
  font-size: 18px;
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  z-index: 1000;
  transition: transform 0.3s ease;
}

header.hide {
  transform: translateY(-100%);
}

.logo {
  width: 200px;
}

body {
  background-color: #121212;
  padding: 0px;
  padding-top: 100px;
  width: 100%;
  max-width: 100%;
  margin: 0px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

section.HomePage {
  margin: auto 100px;
  margin-top: 50px;
  width: auto;
  max-width: 250px;
  font-size: medium;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}

section.HomePage h1,
section.HomePage h2 {
  margin: 5px 0px;
  color: white;
}

div.Brief {
  margin: auto 100px;
  width: auto;
  max-width: 250px;
  font-size: medium;
  font-family: sans-serif;
  text-align: justify;
  color: white;
}

img.Programador {
  padding: 50px;
  margin-left: 150%;
  margin-top: -450px;
  width: 500px;
  background-attachment: fixed;
}

@keyframes float {
  0% {
    top: 0;
  }
  100% {
    top: 30px;
  }
}

img.Programador {
  position: relative;
  animation: float 2s ease-in-out infinite alternate;
}

.hidden {
  opacity: 0;
  transition: opacity 4.5s ease-in-out;
}

.visible {
  opacity: 1;
}

.Links {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-family: Arial, Helvetica, sans-serif;
}

.Links a {
  color: #000;
  text-decoration: none;
  padding: 10px 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.CV {
  text-align: center;
  margin-bottom: 60px;
}

.CS,
.Project,
.Email {
  text-decoration: underline 2px rgba(101, 24, 180, 1);
  color: white;
  padding: 1px;
  margin: 40px;
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  transition: transform 0.3s;
}

.CS:hover,
.Project:hover,
.Email:hover .dropbtn:hover {
  transform: scale(1.3); /* Aumenta o tamanho do link ao passar o mouse */
}

.FirstChance {
  margin: auto 100px;
  margin-top: -300px;
  margin-bottom: 100px;
  width: auto;
  max-width: 250px;
  font-size: medium;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  text-align: justify;
  color: white;
  padding-top: 50px;
  align-items: flex-start;
}

.FirstChance img {
  display: block;
  float: right;
  margin-right: 20px;
  width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.FirstChance .container {
  max-width: none;
  display: flex;
  flex-direction: column;
}

.FirstChance h1 {
  text-align: center;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

.FirstChance .container>* {
  margin: auto;
}

.pokedex {
  width: 220px;
}

.pigimg {
  border-radius: 0%;
}



.FirstChance .opportunity {
  max-width: none;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}


.FirstChance {
  position: relative; /* Set position relative to contain absolute positioning of children */
}


.skills {
  margin: auto 100px;
  margin-top: 100px;
  width: auto;
  max-width: 250px;
  font-size: medium;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  text-align: justify;
  color: white;
  padding-top: 50px;
  align-items: center;
  margin-bottom: 100px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #121212;
  text-decoration: underline 2px rgba(101, 24, 180, 1);
  font-size: 18px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #121212;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(101, 24, 180, 1);
  z-index: 1000;
  transition: transform 0.3s;
}

.dropdown-content a {
  color: white;
  padding: 10px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #121212;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: none;
}

#name {
  margin: 0;
  font-size: 24px;
}

#job {
  margin: 0;
  font-size: 18px;
}

.textbox {
  margin-left: 900px;
  width: 150px;
  margin-bottom: 100px;
  margin-top: -230px;
  overflow: hidden;
}

.pezinho {
  background-color: rgba(101, 24, 180, 1);
  text-align: center;
  color: white;
  font-size: 13px;
  padding: 5px;
}

.react-container {
  position: relative;
  width: 150px; /* Largura da imagem React */
  margin-left: 90px;
  width: 150px;
  margin-bottom: 100px;
  margin-top: -15px;
}

.react {
  margin-left: 600px;
  width: 120px;
  margin-bottom: 10px;
  margin-top: -505px;
  display: block;
}

.textbox {
  position: absolute;
  top: calc(100% - 150px);
  left: calc(50% - 150px);
  transform: translateX(-50%);
  background-color: #121212;
  padding: 10px;
  border-radius: 5px;
  color: white;
  text-align: left justify;
  font-size: 12px;
  display: none;
  transition: opacity 10s ease-in-out;
}

.react-container:hover .textbox {
  display: block;
}

.react-container {
  position: relative;
  width: 150px; /* Largura da imagem React */
  margin-left: 90px;
  width: 150px;
  margin-bottom: 100px;
  margin-top: -15px;
}

.js-container {
  position: relative;
  width: 150px; /* Largura da imagem JavaScript */
  margin-left: 900px; /* Ajuste conforme necessário */
  margin-bottom: 100px;
  margin-top: -15px;
}

.js {
  display: block;
  float: right;
  margin-left: 900px;
  width: 100px;
  margin-bottom: 100px;
  margin-top: -300px;
}

.textbox-js {
  position: absolute;
  top: calc(100% - 180px);
  transform: translateX(-50%);
  left: calc(50% + 380px);
  background-color: #121212;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  color: white;
  text-align: left justify;
  font-size: 12px;
  display: none;
  transition: opacity 10s ease-in-out;
}

.js-container:hover .textbox-js {
  display: block;
}

.js-container {
  position: relative;
  width: 150px; /* Largura da imagem JavaScript */
  margin-left: 850px; /* Ajuste conforme necessário */
  margin-bottom: -90px;
  margin-top: -10px;
}

.css-container {
  position: relative;
  width: 150px; /* Largura da imagem JavaScript */
  margin-left: 100px; /* Ajuste conforme necessário */
  margin-bottom: 100px;
  margin-top: -15px;
}

.css {
  display: block;
  float: right;
  margin-left: 100px;
  width: 100px;
  margin-bottom: 100px;
  margin-top: -30px;
}

.textbox-css {
  position: absolute;
  top: calc(100% - 300px);
  transform: translateX(-50%);
  left: calc(50% + 370px);
  background-color: #121212;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  color: white;
  text-align: left justify;
  font-size: 12px;
  display: none;
  transition: opacity 10s ease-in-out;
}

.css-container:hover .textbox-css {
  display: block;
}

.css-container {
  position: relative;
  width: 150px; /* Largura da imagem JavaScript */
  margin-left: 850px; /* Ajuste conforme necessário */
  margin-bottom: -90px;
  margin-top: -10px;
}

.html-container {
  position: relative;
  width: 150px; /* Largura da imagem React */
  margin-left: 90px;
  width: 150px;
  margin-bottom: 100px;
  margin-top: -15px;
}

.html {
  display: block;
  float: right;
  margin-left: 300px;
  width: 100px;
  margin-bottom: 100px;
  margin-top: -80px;
}

.textbox-html {
  position: absolute;
  top: calc(100% - 300px);
  left: calc(50% + 200px);
  transform: translateX(-50%);
  background-color: #121212;
  padding: 10px;
  width: 150px;
  border-radius: 5px;
  color: white;
  text-align: left justify;
  font-size: 12px;
  display: none;
  transition: opacity 10s ease-in-out;
}

.html-container:hover .textbox-html {
  display: block;
}

.html-container {
  position: relative;
  width: 120px;
  margin-left: 1200px;
  width: 150px;
  margin-bottom: 100px;
  margin-top: -70px;
}

.slider {
  margin-top: -400px;
  margin-left: 600px;
  width: 800px;
  height: 400px;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
}

.slide img {
  width: 50%;
}

.manual-navigation {
  position: absolute;
  width: 400px;
  display: flex;
  margin-top: -120px;
  justify-content: center;
  color: rgba(101, 24, 180, 1);
}

.manual-btn {
  border: 2px solid;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: rgba(101, 24, 180, 1);
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -25%;
}

#radio3:checked ~ .first {
  margin-left: -50%;
}

.navigation-auto div{
  border: 2px solid rgba(101, 24, 180, 1);
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;

}

.navigation-auto{
  position: absolute;
  width: 400px;
  margin-top: 280px;
  display: flex;
  justify-content: center;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: rgba(101, 24, 180, 1);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: rgba(101, 24, 180, 1);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: rgba(101, 24, 180, 1);
}


